<h1 appMydirective>{{ title }}</h1>
<!-- ngFor Directive -->
<div
  *ngFor="let fruit of Fruits"
  [class.selected]="fruit == selectedFruit"
  (click)="onSelect(fruit)"
  class="container"
>
  <div class="alert alert-primary" role="alert">
    <span>{{ fruit.id }}</span> => {{ fruit.name }} - {{ fruit.price }}
  </div>
</div>

<br />
<!-- ngIf Directive -->
<div *ngIf="selectedFruit">
  <h1 style="color: blue">Selected Fruit</h1>
  <h2>
    <span>{{ selectedFruit.id }}</span>
  </h2>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="selectedFruit.name" class="form-group" />
  </div>
</div>
<!-- ngSwitch Directive -->
<br />

<div>
  <select [(ngModel)]="selectedFruit">
    <option *ngFor="let fruit of Fruits" [value]="fruit">
      {{ fruit.name }}
    </option>
  </select>

  <div class="row" [ngSwitch]="selectedFruit">
    <div *ngSwitchCase="'Apple'">
      <h1>Apple</h1>
    </div>
    <div *ngSwitchCase="'Orange'">
      <h1>Orange</h1>
    </div>
    <div *ngSwitchDefault>
      <h1>Unknown</h1>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
